/* this is how we start any app in css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

.App {
  max-width: 450px;
  margin: 50px auto;
  background-color: black;
  border-radius: 15px;
  background-image: url(Images/Toxic.png), url(Images/Toxic2.png);
  background-size: 90px;
  background-repeat: no-repeat;
  background-position-y: 105px;
  background-position-x: 5px, 357px;
}

.container {
  border-radius: 26px;
  border: 5px solid;
  border-color: rgb(141, 141, 141);
  border-style: outset;
  border-radius: 15px;
  padding: 20px;
  color: greenyellow;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
}

.container2 {
  border: 3px solid;
  border-color: black;
  border-radius: 15px;
  padding: 20px;
  color: greenyellow;
  background: linear-gradient(145deg, #000000, #000000);
  box-shadow:  3px 3px 5px red,
               -2px -2px 5px rgb(43, 43, 43);
}

.Header {
  color: greenyellow;
  display: flex;
  justify-content: center;
  font-family: "sans-serif";
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 26px;
background: linear-gradient(145deg, #000000, #000000);
box-shadow:  3px 3px 5px #ff0000,
             -2px -2px 5px rgb(43, 43, 43);
}


#Header:hover {
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}

.form {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  padding-left: 15px;
}

.form-control {
  text-align: center;
  padding: 5px;
  background-color: black;
  border-color: rgb(47, 47, 47);
  border-radius: 5px;
  color: greenyellow;
  background: linear-gradient(145deg, #000000, #000000);
box-shadow:  3px 3px 5px #ff0000,
             -2px -2px 5px rgb(43, 43, 43);
}

.button {
  justify-content: right;
  margin: 15px;
  background-color: black;
  color: greenyellow;
  padding: 7px;
}

.button {
  border-radius: 10px;
  border-color:black;
  font-size: 15px;
  background: linear-gradient(145deg, #000000, #000000);
box-shadow:  3px 3px 5px red,
             -2px -2px 5px rgb(43, 43, 43);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {
  text-shadow: 2px 2px 0px red;
}


#name1 {
  padding: 5px;
  background-color: #000000;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 0px rgb(255, 0, 0);
  cursor: default;
}

#name2 {
 padding: 5px;
 background-color: #000000;
 display: flex;
 height: 100%;
 width: 100%;
 padding: 10px;
 justify-content: center;
 align-items: center;
 text-shadow: 2px 2px 0px rgb(255, 0, 0);
 cursor: default;
}

.padding-top-bottom i {
  color: greenyellow;
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 7px;
}

.padding-top-bottom i {
  text-shadow: 2px 2px 0px rgb(255, 0, 0);
  cursor: default;
}

.description {
  font-size: 40px;
  padding-bottom: 30px;
  padding-top: 20px;
  line-height: 40px;
  text-shadow: 2px 2px 0px rgb(255, 0, 0);
  cursor: default;
}

 i {
  font-size: relative;
  position: relative;
  padding-right: 10px;
}

.alien{
  padding-bottom: 20px;
  }
  
  .alien:hover {
    text-shadow: 2px 2px 0px red;
    cursor: default;
  
  }
  
  #stars {
    padding-bottom: 10px;
  }

  h5:hover {
    text-shadow: 2px 2px 0px red;
    cursor: default;
  }
  
  #meteor:hover {
    text-shadow: 2px 2px 0px red;
    cursor: default;
  }
  
  #fire:hover {
    text-shadow: 2px 2px 0px red;
    cursor: default;
  }
  
  #cloud:hover {
    text-shadow: 2px 2px 0px red;
    cursor: default;
  }
  
  #earthquake:hover {
    text-shadow: 2px 2px 0px red;
    cursor: default;
  }
  
  #sunrise:hover {
    text-shadow: 2px 2px 0px red;
    cursor: default;
  }
  
  #sunset:hover {
    text-shadow: 2px 2px 0px red;
    cursor: default;
  }
  
  #wind:hover{
    text-shadow: 2px 2px 0px red;
    cursor: default;
  }

